[submodule "accounts/appsvcs-phonebook/deploy"]
	path = accounts/appsvcs-phonebook/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-voice/deploy"]
	path = accounts/appsvcs-voice/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
	branch = develop
[submodule "accounts/appsvcs-generic/deploy"]
	path = accounts/appsvcs-generic/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-static/deploy"]
	path = accounts/appsvcs-static/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/mozilla-data-analytics/deploy"]
	path = accounts/mozilla-data-analytics/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
