[submodule "accounts/planet/deploy"]
	path = accounts/planet/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/tlscanary/deploy"]
	path = accounts/tlscanary/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/virtual-redirects/deploy"]
	path = accounts/virtual-redirects/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-pastebin/deploy"]
  path = accounts/appsvcs-pastebin/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-etherpad/deploy"]
	path = accounts/appsvcs-etherpad/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-securitywiki/deploy"]
	path = accounts/appsvcs-securitywiki/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-phonebook/deploy"]
	path = accounts/appsvcs-phonebook/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-voice/deploy"]
	path = accounts/appsvcs-voice/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
	branch = develop
[submodule "accounts/appsvcs-generic/deploy"]
	path = accounts/appsvcs-generic/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/appsvcs-static/deploy"]
	path = accounts/appsvcs-static/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
